<html>
<head>
  <title>
    Error
  </title>
</head>
<body>
  <center>
    <p>
      <%if(message){%>
        <h4>
          <%=message%>
        </h4>
      <%}%>
    </p>
  </center>
</body>
</html>
