<!DOCTYPE html>
<!-- saved from url=(0061)https://v4-alpha.getbootstrap.com/examples/navbar-top-fixed/# -->
<html lang="en" class="gr__v4-alpha_getbootstrap_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Users</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/navbar-top-fixed.css" rel="stylesheet">
  </head>

  <body data-gr-c-s-loaded="true">

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="https://v4-alpha.getbootstrap.com/examples/navbar-top-fixed/#">Chat App</a>
      <div class="navbar-collapse collapse" id="navbarCollapse" aria-expanded="false" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <ul class="list-group">
        <% if(users){ %>
          <% users.forEach(function(user){%>
          <% if(user.username!=mainUser){ %>          
          <a href="/users/chat/<%= user.username %>">
            <li class="list-group-item justify-content-between">
            <%= user.username %>
            <% if(user.online){ %>
            <span class="badge badge-default badge-pill">Online</span>
            <% } %>
           </li>
          <% } %>
          <% }); %>
          <% } %>
          </a>
      </ul>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/jquery-3.1.1.slim.min.js.download" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/tether.min.js.download" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/bootstrap.min.js.download"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/ie10-viewport-bug-workaround.js.download"></script>

</body></html>